<?xml version="1.0"?>
<Configuration>
	<!-- Primo tab overview -->
    <Plot000>
    	<reg_name>STE_PTA</reg_name>
    	<reg_name>STE_SPS</reg_name>   	
    </Plot000>
    <Plot001>
    	<reg_name>STE_PTE</reg_name> 
    </Plot001>
	<Plot010>
    	<reg_name>STE_PTR</reg_name> 
    </Plot010>
	<Plot011>
    	<reg_name>STE_ASP</reg_name> 
    </Plot011>
	<!-- Secondo tab overview -->
	<Plot100>
		<reg_name>STE_PTA</reg_name>
		<reg_name>STE_SPS</reg_name>
	</Plot100>
	<Plot101>
		<reg_name>STE_PTE</reg_name>
	</Plot101>
	<Plot110>
		<reg_name>STE_PTR</reg_name>
	</Plot110>
	<Plot111>
		<reg_name>STE_ASP</reg_name>
	</Plot111>
	<PID_File>
    <Filename>myPdf.pdf</Filename>
    <Path>C:\Users\io\Desktop</Path> <!--Inserire il percorso cartella, se nella stessa cartella del programma lasciare vuoto-->
  </PID_File>
  <Auto_GetData>
    <Enabled>1</Enabled> <!-- 1=Abilitato, 0=Disabilitat -->
    <Time_Period_Min>1</Time_Period_Min>
  </Auto_GetData>
</Configuration>