<?xml version="1.0"?>
<Configuration>
    <Plot00>
    	<reg_name>STE_PTA</reg_name>
    	<reg_name>STE_SPS</reg_name>   	
    </Plot00>
    <Plot01>
    	<reg_name>STE_PTE</reg_name> 
    </Plot01>
	<Plot10>
    	<reg_name>STE_PTR</reg_name> 
    </Plot10>
	<Plot11>
    	<reg_name>STE_ASP</reg_name> 
    </Plot11>
  <PID_File>
    <Filename>myPdf.pdf</Filename>
    <Path>C:\Users\io\Desktop</Path> <!--Inserire il percorso cartella, se nella stessa cartella del programma lasciare vuoto-->
  </PID_File>
  <Auto_GetData>
    <Enabled>1</Enabled> <!-- 1=Abilitato, 0=Disabilitat -->
    <Time_Period_Min>1</Time_Period_Min>
  </Auto_GetData>
</Configuration>