<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.1" targetFramework="net40" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net40" requireReinstallation="true" />
  <package id="OxyPlot.Core" version="2014.1.228.1" targetFramework="net40-Client" />
  <package id="OxyPlot.Wpf" version="2014.1.228.1" targetFramework="net40-client" requireReinstallation="true" />
</packages>